@{
    ViewBag.Title = "Index";
}

<h2>Tweets</h2>
@(Html.Kendo()
        .Grid<TwitterLikeSystem.Web.Areas.Admin.Models.Tweets.TweetAdminViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(t => t.Id).Width(30);
        columns.Bound(t => t.Title).Width(100);
        columns.Bound(t => t.Content);
        columns.Bound(t => t.DateCreate).Width(150);
        columns.Bound(t => t.TagsString).Title("Tags").Width(70);
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(200);
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create();
        toolBar.Save();
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
        {
            model.Id(t => t.Id);
            model.Field(p => p.Id).Editable(false);
            model.Field(p => p.TagsString).Editable(false);
        })
        .PageSize(10)
        .Read(read => read.Action("AjaxIndex", "Tweets"))
        .Create(create => create.Action("Create", "Tweets"))
        .Update(update => update.Action("Edit", "Tweets"))
        .Destroy(destroy => destroy.Action("Delete", "Tweets"))
    )
)
