doctype
html
    head
        link(rel="stylesheet" type="text/css" href="styles/form.css")
        link(rel="stylesheet" type="text/css" href="styles/images.css")
        link(rel="stylesheet" type="text/css" href="styles/site.min.css")
    body
        div#form-container
            form
                fieldset
                    legend
                        | Login
                    label(for="username")
                        | Username
                    input#username(type="text")
                    label(for="password")
                        | Password
                    input#password(type="text")
                    button
                        | Submit
        
        div
            div.img-container
                img(src="images/2.jpg")
            div.img-container
                img(src="images/3.jpg")
            div.img-container
                img(src="images/4.jpg")
            div.img-container
                img(src="images/5.jpg")
            div.img-container
                img(src="images/6.jpg")
            div.img-container
                img(src="images/7.jpg")
            div.img-container
                img(src="images/8.jpg")
            div.img-container
                img(src="images/9.jpg")                                                                                
             
        script(src="scripts/coffee.min.js")