#form-container
    width 25%
    fieldset
        legend
            font-size 22px
            padding 10px
        label
            font-size 14px
        input
            padding 10px
            border-radius 5px    
        button
            margin 5px