.main
    padding 20px 30px 20px 30px
    border 1px
    table
        border 1px solid #000000
        border-collapse collapse
        text-align center
        th, td
            border 1px solid #000000
            padding 10px
            a
                background-color: #5cb85c;
                padding: 7px;
                border-radius: 5px;
                text-decoration none