div
    form
        fieldset
            width 30%
            border-radius 5px
            padding 10px
            font-size 24px
            legend
                font-weight bold
            div
                padding 5px
                div
                    input
                        border-radius 3px
                        padding 5px
                    #submit
                        padding 5px
                        