.main
    padding 20px 30px 20px 30px
    border 1px
    h1
        text-align center
    .file-info 
        padding 5px
        background-color: #E8FFFF
        ul
            list-style-type none
            border 1px solid #000000
            border-radius 5px
            margin 0
            li
                display inline-block
                padding 10px
            .btn-download
                background-color #5CB85C
                padding 7px
                border-radius 5px