<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDayService" />
                <binding name="BasicHttpBinding_IDayService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5253/DayService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDayService" contract="DayOfWeekServiceReference.IDayService"
                name="BasicHttpBinding_IDayService" />
            <endpoint address="http://localhost:5253/DayService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDayService1" contract="DayServiceReference.IDayService"
                name="BasicHttpBinding_IDayService1" />
        </client>
    </system.serviceModel>
</configuration>