extends ../layouts/layout
block page-css
    link(rel="stylesheet" href="/css/form.css")
block main-content
    div
        div
            form(method='POST' enctype='multipart/form-data')
                fieldset
                    legend Upload
                    div
                        div
                            input#file(type="file" name="file")
                    div
                        div
                            input(type="checkbox" name="private")
                            span Private
                    div
                        div
                            input#submit(type="submit", value="Submit")