@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    Admin username and password in  Infrastructure.Seed.cs
    <br />
    4.* Create a custom route constraint that allows requests only if the controller name starts with the string "Admin"
    - Arias/Administration/AdministrationAreaRegistration.cs
    - InformationalApplication.Infrastructure.LocalhostConstraint.cs
</div>

<div class="row">
   
</div>