<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataNorthwind.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataNorthwind.Properties.Settings>
            <setting name="DbConnection" serializeAs="String">
                <value>Server=.; Database=Northwind; Integrated Security=true</value>
            </setting>
        </DataNorthwind.Properties.Settings>
    </applicationSettings>
</configuration>